<html>
    
    <head>
    </head>
    <body>
        <table align="center">
            <tr align="center">
                <td class="tdPad" colspan=2>
                    <span style="font-size:20px; font-weight:bold">
                        <font color="FFD036">
                            PARTENAIRE OFFICIEL
                        </font>
                    </span>
                </td>
            </tr>
            <tr align="center">
                <td class="tdPad" colspan=2>
                    <a href="http://www.etsmtl.ca/"><img src="resources/images/partenaire/ETS.png"></a>
                    <br/>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr align="center">
                <td class="tdPad" colspan=2>
                    <span style="font-size:20px; font-weight:bold">
                        <font color="FFD036">
                            PARTENAIRES DIAMANT
                        </font>
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr align="center">
                <td class="tdPad" colspan=2>
                    <span style="font-size:20px; font-weight:bold">
                        <font color="FFD036">
                            PARTENAIRE PLATINE
                        </font>
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr align="center">
                <td class="tdPad" colspan=2>
                    <span style="font-size:20px; font-weight:bold">
                        <font color="FFD036">
                            PARTENAIRES OR
                        </font>
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr align="center">
                <td class="tdPad" colspan=2>
                    <span style="font-size:20px; font-weight:bold">
                        <font color="FFD036">
                            PARTENAIRES ARGENT
                        </font>
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr align="center">
                <td class="tdPad" colspan=2>
                    <span style="font-size:20px; font-weight:bold">
                        <font color="FFD036">
                            PARTENAIRES BRONZE
                        </font>
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr align="center">
                <td class="tdPad" colspan=2>
                    <span style="font-size:20px; font-weight:bold">
                        <font color="FFD036">
                            PARTENAIRES SUPPORTEUR
                        </font>
                    </span>
                </td>
            </tr>
        </table>
    </body>
</html>
